<!-- <input type="text" [(ngModel)] = "a">
<h2> The value of a is: {{a}} </h2>
<img [src]="sourcePath" alt="account-icon" [height]="b" [width]="c">
<br>
<button (click) = hello()>clcik me</button>
<br> -->

<!-- 
Data binding:
1. oneway data binding -- 
  1.1. event binding -- (click)
  1.2. property binding -- [a]

2. two way data binding -- [(ngModel)]
3. string interpolation or expression -- {{}}
 -->
 <app-header></app-header>
 <app-body></app-body>
 <app-block></app-block>
 <app-footer></app-footer>